<div class="container mt-5 text-white">
  <div class="row">
    <div class="col-md-4">
      <img src="assets/your-photo.jpg" alt="Swathi Mendem" class="img-fluid rounded-circle">
    </div>
    <div class="col-md-8">
      <h1 class="display-4">I'm Swathi Mendem</h1>
      <h3 class="mb-3">Front-End Developer</h3>
      <p>Motivated and dedicated front-end developer with a passion for creating user-centric web interfaces.</p>
      <ul class="list-unstyled">
        <li><strong>Name:</strong> Swathi Mendem</li>
        <li><strong>Date of Birth:</strong> January 1, 1997</li>
        <li><strong>Address:</strong> Vijayawada, India</li>
        <li><strong>Email:</strong> swathimendem027gmail.com</li>
        <li><strong>Phone:</strong> +91 7675819296</li>
      </ul>
      <p class="mt-4">73 Projects complete</p>
      <a href="#" class="btn btn-primary">Download CV</a>
    </div>
  </div>
</div>
