<div class="container mt-5 text-white">
  <h2 class="display-4 text-center">Work Experience</h2>
  <div class="row mt-4">
    <div class="col-md-12">
      <h4>Jr. Web Developer</h4>
      <p><strong>Company:</strong> XYUG Technologies</p>
      <p><strong>Duration:</strong> Jan-2024 - Present</p>
      <ul>
        <li>Customized and developed templates and layouts to meet client requirements.</li>
        <li>Assisted in creating and maintaining visually appealing and responsive website designs using HTML, CSS, Bootstrap, and TypeScript.</li>
        <li>Implemented user interfaces based on provided design mockups or wireframes.</li>
        <li>Conducted testing to identify and report website bugs, browser compatibility issues, and responsive design problems.</li>
      </ul>
      <h4>Projects</h4>
      <ul>
        <li><strong>Gold Central</strong> - Collaborated with the design team to create intuitive and visually appealing user interfaces. Integrated various APIs into the application, implemented RESTful API calls, and developed validation mechanisms.</li>
        <li><strong>Supernova</strong> - Currently working on this project utilizing expertise in front-end technologies to empower users with innovative solutions.</li>
      </ul>
    </div>
  </div>
</div>
