<div class="container mt-5 text-white">
  <h2 class="display-4 text-center">My Skills</h2>
  <div class="row mt-4">
    <div class="col-md-6">
      <h4>Programming Languages</h4>
      <ul>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>HTML</li>
        <li>SCSS</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Frameworks and Libraries</h4>
      <ul>
        <li>Tailwind CSS</li>
        <li>Bootstrap</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Version Control</h4>
      <ul>
        <li>Git</li>
        <li>GitLab</li>
        <li>GitHub</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Software Proficiency</h4>
      <ul>
        <li>Microsoft Office Suite</li>
      </ul>
    </div>
  </div>
</div>
