body {
  background-color: #111;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #000;
}

.nav-link {
  color: #fff !important;
}

h1, h3, h2 {
  color: #ffc107;
}

.btn-primary {
  background-color: #ffc107;
  border: none;
}

.img-fluid {
  border: 3px solid #ffc107;
}

p, li {
  color: #ccc;
}
